/* impostazioni generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #383838;
  font-family: 'Spartan', sans-serif;
}


.title{
  text-align: center;
  color: white;
  font-family: 'Spartan', sans-serif;
  margin: 15px 0;

}

.contain{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.disco{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: auto;
  color: lightgrey;
  margin: 0 10px;
}

.disco img{
  width: 100%;
  height:150px;
  background-color: red;
  margin: auto;
}
